


/*nav bar styling*/

.container {
    min-width: 100;
    min-height: auto;
    margin: 0 auto;
   
}

header {
    background-color: darksalmon;
}

body {
    background-color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    border: 2px solid rgb(189, 189, 189);
}

header::after {
    content:  '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}
nav {
    float: right;
}
nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;

}
nav li {
    display: inline-block;
    margin-left: 75px;
    padding-top: 70px;
    position: relative;
}
nav a {
    color: rgb(12, 110, 110);
    text-decoration: none;
    text-transform: uppercase;

}


/* flexbox styling */

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


/* Tablet styling*/

@media screen and (max-width 768px){
    header{
        width: 100%;
    }
    .flex-container {
        width:100%
        flex-wrap:wrap
    }
    
}

/* Small smartphones styling*/

@media screen and (max-width: 576px){
    header{
        width:100%
    }
    .flex-container{
        width:100%;
        flex-wrap: wrap;
    }
    img{
        width: 100%;
    }

}







